<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %>さんとのチャット</h1>

<div id="messages" style="width: 400px;">
	<%= render @chats %>
</div>

<%#= form_with model: @chat do |f| %>
	<%#= f.text_field :content %>
	<%#= f.hidden_field :room_id %>
<%# end %>

<div class="form">
	<input type="text" id="chat-input">
	<%= hidden_field_tag :room_id, @room.id %>
	<button id="button">送信</button>
</div>